.orange{
  background: linear-gradient(135deg, #f6891b 0%,#f4761e 100%);
}

.blue{
  background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));
}

.orange2{
  background: linear-gradient(to right, rgb(252,254,89), rgb(240, 61, 19));
}